
<mat-accordion multi="true">
  <mat-expansion-panel [expanded]="true" (opened)="(true)">
    <mat-expansion-panel-header class="panel-header">
      <mat-panel-title>
        <h2>Available foods</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      <!-- use template to force lazy rendering -->
      <ng-template matExpansionPanelContent>
        <mat-list-item *ngFor="let food of sortBy('type')">
          <div class="list-item">
            <fooditem [food]="food"></fooditem>            
            <mat-accordion *ngIf="food.combinableWith" multi="false">
              <mat-expansion-panel [expanded]="false" (opened)="(false)">
                <mat-expansion-panel-header style="background-color:lightgrey">
                  <mat-panel-title> Combinable with </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let subfood of sortListBy(food.combinableWith,'type')">
                  <p>
                    <fooditem [food]="subfood"></fooditem>                    
                  </p>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-list-item>
      </ng-template>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
