.combination-list {
  list-style: none;
}
body {
  color: red;
}

.list-item {
  color: saddlebrown;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: capitalize;
  padding: 8px;
  border: 1px solid black;
  margin: 8px 0px 8px 0px;
}

h2 {
  font-variant: small-caps;
}

.panel-header {
  background-color:lightgrey;
}

.basic-table {
  border: 1px solid black;
  table-layout: fixed;
  width:100%;
  min-height: 180px;
}

.basic-table > tr > td {
  border: 1px solid black;  
}

.basic-table > tr > th {
  border: 1px solid black;
}

.basic-table > tr {
  border: 1px solid black;
}

.combination {
  display: flex;
  align-items: center;  
}

.combination > mat-icon {
  padding: 8px;
}
