<mat-expansion-panel>
  <mat-expansion-panel-header style="background-color:lightgrey">
    <mat-panel-title>
      <h2 style="font-variant: small-caps;">Available foods</h2>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let food of availableFoods">
      <div>
        <mat-expansion-panel>
          <mat-expansion-panel-header style="background-color:lightgrey">
            <mat-panel-title> Combinable with </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let subfood of food.combinableWith">
            <p>
              {{ subfood.name }} - {{ subfood.type }}
              <mat-icon *ngIf="subfood.type == 'fruit'" style="color: cyan">
                trip_origin</mat-icon
              >
              <mat-icon
                *ngIf="subfood.type == 'vegetable'"
                style="color: green"
              >
                trip_origin</mat-icon
              >
              <mat-icon *ngIf="subfood.type == 'meat'" style="color: red">
                trip_origin</mat-icon
              >
              <mat-icon *ngIf="subfood.type == 'grain'" style="color: orange">
                trip_origin</mat-icon
              >
            </p>
          </div>
        </mat-expansion-panel>
      </div>

      <div>
        {{ food.name }} - {{ food.type }}
        <mat-icon *ngIf="food.type == 'fruit'" style="color: cyan">
          trip_origin</mat-icon
        >
        <mat-icon *ngIf="food.type == 'vegetable'" style="color: green">
          trip_origin</mat-icon
        >
        <mat-icon *ngIf="food.type == 'meat'" style="color: red">
          trip_origin</mat-icon
        >
        <mat-icon *ngIf="food.type == 'grain'" style="color: orange">
          trip_origin</mat-icon
        >
      </div>
    </mat-list-item>
  </mat-list>
</mat-expansion-panel>
